
#logo{
   height: 34px;
}

#actionSearch{
    padding-left: 21px;
    width: 34vw;
    height: 34px;
    align-self: center;
    background-color: var(--light);
    color: var(--light);
    font-family: 'poppins';

}

.parent:hover .nested{display: block;}

.parent {
  
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}
.nested{
 
    padding-left: 1em;
}
.parent::before {
        content: "\25B6";
        color:var(--gray-dark);
        display: inline-block;
        margin-right: 6px;
        }

.parent-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}
.nested {
    display: none;
}
.active {
            display: block;
       }


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
       
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 1px;
  background-color: #f1f1f1;
  min-width:221px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.parent:hover .nested{display: block;}

#sideBar {
    flex-basis: 100%;
    padding:1em;
    resize: horizontal;
    overflow: hidden;
    min-width: 221px;
    width: 13% !important;
    max-width: 18%;  
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
   
}
