* {
    box-sizing: none;
    transition-property: box-shadow, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    outline: none;
  border:none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
 }
html{
  height: 100%;
}
body {
     width: 100%;
    height: 100%;
    background-color:var(--light);
    color: var(--darkest);
    font-family: 'Poppins' , sans-serif;
    list-style-type: none;
    font: 'poppins';
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body > *{
   font-family: 'Poppins' , sans-serif;
    list-style-type: none;
    font: 'poppins';
    font-size: 1.8vh;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
}
span{
  height:1em;
}

a,button {
    color: var(--gray-dark);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    max-width: 144px;
    position: relative;
    text-decoration: none;
   float: left;
   display: block;
   width: 100%;
   opacity:0.89;
   padding-left: 1vw; 
   padding-right: 1vw; 

}

.material-icons{
    display: inline-flex;
    vertical-align: top;
    padding:1% 1%;
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
input{
  background: transparent;
   align-items: center;
    width: 100%;
    font-family: 'poppins';
    font-size: 15px;   
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
 
.column {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.clickable{
    cursor: pointer;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 3;
 }

.full-width{
  width: 100%;
 }


 hr{
   display: block;
   width: 100%;
   height: 10px;
   color: red;
 }
#appLogo{
  height: 21px;  
  align-self: center;
}
.appTitle{
  padding-left: 1vw; 
   padding-right: 1vw; 
  text-align: center;
  align-self: center;
}

#actionSpace {  
  
  height: 100%;
  padding-left: 21px;
  padding-right: 21px;
  transition: margin-left .2s;
}
.sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            transition: 0.2s;
            padding-top: 60px;
        }

      

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    
#topNav{
    padding-right: 21px;
    padding-left: 21px;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1vh;
 }
 
#actionSearch {
    width: 34vw;
   padding-left: 1vw; 
   padding-right: .5vw; 
   padding-top: .3vw;
   padding-bottom: .3vw;
   align-self: center;
   font-family: 'poppins';
   border-radius: 3px;
   background-color: var(--white);
   cursor: text;
   justify-content: space-between;
  }
#actionSpaceBody{

    padding-top: 1vw;
    height: inherit;
    padding-left: 8vw;
   background-color: var(--light);

}
#actionSpaceEditor{
  display: flex;
  padding-top: 2vw;
  margin: auto auto;
  height: inherit;
  width: 54vw;
  padding-left:8vw;
  padding-right:8vw;
  background-color: var(--white);
}

#actionSpaceEditor:hover{
  /*
    https://shadows.brumm.af/
    */

 box-shadow:
  0 6.7px 5px rgba(0, 0, 0, 0.048),
  0 14px 40px rgba(0, 0, 0, 0.07)
;


}
#activeStoryTree{
  display: inline-block;
  padding:1%;
  height:34%;
  background-color: rgba(0, 0, 0, 0.048);
}
