    * {
       
 outline: none;
 box-sizing: border-box;
  border:none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
}


   .position-left{
       background-color: aliceblue;
   }

   .position-right{
       background-color: aliceblue;
   }

   .position-sticky:{
       position: -webkit-sticky;
   }

   .position-fixed:{
       position: -webkit-sticky;
   }
   .position-compact:{
       position: -webkit-sticky;
   }

   full-width{
background-color: blanchedalmond;
} 
full-height{
background-color: rebeccapurple;
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.alignSelf-left{
align-self: flex-start;  
  
}
.alignSelf-center{
  align-self: center;
}
.align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify_SpaceBetween{
   -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
   justify-content: space-between;
}
.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.hr{
    width: 100%;
    margin: auto;
    border-bottom: --var(--gray-dark);
}
.vr{
  margin-left: 21px;
  margin-right: 21px;
  
}
.full-width{
  width: 100%;
}
.full-height{
    min-height: 100% !important;
}


/**
[state="mouseover"]::before{
  font-family: 'Material Icons';
  content: "add";
  
  color: #1e2326;
  position: absolute;
  z-index: 1;
  display: inline-block;

}
[state="mouseover"]::before{
   font-family: 'Material Icons';
    content: "add";
    color: #1e2326;
    position: absolute;
    z-index: 1;
    display: inline-block;
    
  }
  