.navigator{
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 70%;
    overflow: auto;
}

.navigator .collection{
    padding: 5px; 
}

.navigator .collection>.title{
    position: relative;
    cursor: pointer;
    background-color: rgb(226, 226, 226);
    width: 100%;
}

.navigator .collection>.title::before {
    content: "â¯";
    position: relative;
    display: inline-block;
    margin-right: .5em;
    transition: ease .1s;
}

.navigator .collection.active>.title::before{
    transform: rotate(90deg);
}

.navigator .collection>.content{
    height: 0;
    margin-left: 15px;
    overflow: hidden;
}

.navigator .collection.active>.content{
    height: auto;
}

.navigator .file{
    display: block;
    cursor: pointer;
}

.navigator .file:active{
    background-color: rgb(218, 218, 218);
}
