.breadcrumb{
    background-color: rgb(219, 219, 219);
}
.tab-contents{
    background-color: blue;
}
.tab-content{
    border: 1px solid #000;
    height: calc(100% - 1.35em) !important;
    padding: 5%;
    overflow: auto;
}

.editor {
    position: relative;
    width: 100%;
    height: max-content;
    min-height: 100%;
}