.tool-bar {
    position: relative;
    width: 100%;
    height: 35px;
    border-bottom:1px solid var(--alt-border-color);
    user-select: none;
}

/* 

.editorTools{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.editorTools>span{
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.editorTools>span:hover{
    background-color: rgb(223, 223, 223);
}
.editorTools a.toolSeparator{
    position: relative;
    text-decoration: none;
    margin: 0px 5px;
    font-size: 22px;
    color:#c9c9c9 ;
}
*/