.CSSViewer {
	background-color: rgb(231, 231, 231);
	position: absolute;
	box-sizing: border-box;
	top: 30px;
	left: 30px;
	width: 35%;
	height: 50%;
	border-radius: 5px;
	box-shadow: 3px 3px 15px rgba(189, 189, 189, 0.8);
	overflow: hidden;
}

.CSSViewer>.elemIdentifier {
	display: block;
	position: relative;
	background-color: rgb(175, 175, 175);
	margin: 20px 20px 10px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.accordion {
	position: relative;
	max-height: 78%;
	padding: 0 14px 0 19px;
	overflow: auto;
}

.scroll--simple::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.scroll--simple::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
}

.scroll--simple::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(185, 185, 185);
}

.scroll--simple::-webkit-scrollbar-thumb:hover {
	background: rgb(170, 170, 170);
}

.scroll--simple::-webkit-scrollbar-thumb:active {
	background: rgb(165, 165, 165);
}

.accordion * {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.accordion>.tab {
	position: relative;
	height: 30px;
	border: 1px #333 solid;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
}

.accordion>.tab:not(:last-child) {
	border-bottom: none;
}

.accordion>.tab>.tabTitle {
	position: relative;
	display: block;
	padding: 3px;
}

.accordion>.tab.active>.tabTitle {
	background-color: rgb(211, 211, 211);
}

.accordion>.tab>.tabTitle>.pointer {
	display: inline-block;
	padding: 2px 6px;
	user-select: none;
	cursor: pointer;
}

.accordion>.tab.active>.tabTitle>.pointer {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.accordion>.tab>.tabContent {
	padding:5px 0;
	margin-left: 30px;
}

.accordion>.tab>.tabContent>.property{
	display: block;
	width: 100%;
	margin: 8px 0px;
}

.propName{
	position: relative;
	left: 0;
	font-size: 16px;
	padding: 4px;
}
.propVal{
	position: absolute;
	right: 10px;
	padding:4px;
	font-size: 14px;
	background-color: rgb(223, 223, 223);
	border: 1px rgb(209, 209, 209) solid;
	border-radius: 3px;
	outline: none;
}
.propVal:hover{
	border: 1px rgb(170, 170, 170) solid;
	background-color: rgb(239, 239, 239);
}
.propVal:focus{
	background-color: rgb(255, 255, 255);
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
.CSSViewerActiveElem{
	border: 2px dashed rgba(159, 255, 49, 0.7);
}
.fun{
	display: none;
}
.CSSViewerActiveElem>.fun{
	display: initial;
}