.treemap .title-container {
    background-color: aqua;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
}

.treemap .title-container[data-has-parent]{
    cursor: pointer;
}

.treemap .content-container{
    background-color: blueviolet;
    display: flex;
    max-width: 100%;
    height: max-content;
    max-height: 70%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.treemap .content-container .item{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border: 1px solid;
}

.treemap .content-container .item[data-has-children]{
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}